!!!
%html
  %head
    %title Violin Practice
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    
    = csrf_meta_tags
  %body
    / TEMPLATES 
    .templates= render :partial => "application/templates"      
    